/*******************************************************************************************
SITE HEADER
*******************************************************************************************/
 .head {
  background: rgb(37, 59, 128);
  padding: 30px 0;
  border-radius: 0!important;
  border-style: none!important;
  margin: 0!important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.top-most{
  width: 100%;
  height: 5px;
  margin: 0;
  background-color: #179bd7;
}

.header-row {
  background: rgb(37, 59, 128);
  margin: 0 5%;
  padding: 0;
}

.main-menu a {
  color: #fff! important;
}

.links a {
  background: rgb(37, 59, 128)!important;
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em!important;
}

.links a:active {
  background: rgb(37, 59, 128)!important;
}

.links a:hover {
  background-color: none!important;
  color: grey!important;
}

.logo-lg {
  padding: 0px;
  margin-bottom: 40px!important;
}

.dropdown-background {
  background: rgb(37, 59, 128);
}

.navbar-toggle:hover {
  background-color: rgb(0, 0, 77)!important;
}

.navbar-inverse .navbar-toggle {
  border-color: rgb(0, 0, 77)!important;
}


.dropdown-menu li:hover .sub-menu {
  visibility: visible;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
/*******************************************************************************************
SLIDER
*******************************************************************************************/
.text-center h1, h2 {
  color: #fff!important;
}

.slider-text-inner h1 {
  color: #fff!important;
}

.overlay-gradient {
    position: absolute;
    display: block;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: auto;
}

/*******************************************************************************************
PRINCIPAL
*******************************************************************************************/

#team {
	color: #fff;
	background: #a7c44c url(../img/team-bg.jpg) center top no-repeat;
	background-size: cover;
}
#team .overlay {
	padding: 40px 0;
	background: rgb(23, 155, 215, 0.9);
}
#team h2, #team p {
	color: #fff;
  font-family: 'Reem Kufi', sans-serif;
}

#team hr {
	background: #fff;
}
#team h3 {
	color: #fff;
	font-weight: 500;
	font-size: 20px;
	margin: 5px 0;
  font-family: 'Reem Kufi', sans-serif;
}
#team .team-img {
	width: 200px;
	height: 200px;
	border-radius: 50px 0 50px 0;
	box-shadow: 15px 0 rgb(37, 59, 128);
}
#team .thumbnail {
	background: transparent;
	border: 0;
}
#team .thumbnail .caption {
	padding-top: 10px;
}
#team .thumbnail .caption p {
	color: #fff;
  font-size: 1.2em;
}

.section-title {
	margin-bottom: 70px;
}
.section-title p {
	font-size: 1.6em!important;
}
