/*******************************************************************************************
SITE HEADER
*******************************************************************************************/
 .head {
  background: rgb(37, 59, 128);
  padding: 30px 0;
  border-radius: 0!important;
  border-style: none!important;
  margin: 0!important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1020;
}

.top-most{
  width: 100%;
  height: 5px;
  margin: 0;
  background-color: #337ab7;
}

.header-row {
  background: rgb(37, 59, 128);
  margin: 0 5%;
}

.main-menu a {
  color: #fff! important;
}

.links a {
  background: rgb(37, 59, 128)!important;
  font-family: 'Reem Kufi', sans-serif;
  letter-spacing: 1px;
  font-size: 1.2em!important;
}

.links a:active {
  background: rgb(37, 59, 128)!important;
}

.links a:hover {
  background-color: none!important;
  color: grey!important;
}

.logo-lg {
  padding: 0px 15px;
}

.dropdown-background {
  background: rgb(37, 59, 128);
}

.navbar-toggle:hover {
  background-color: rgb(0, 0, 77)!important;
}

.navbar-inverse .navbar-toggle {
  border-color: rgb(0, 0, 77)!important;
}

/*******************************************************************************************
SLIDER
*******************************************************************************************/
.text-center h1, h2 {
  color: #fff!important;
}

.overlay-gradient {
    position: absolute;
    display: block;
    max-width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    cursor: pointer;
}
